/* todo---------- for home ------------ */
*{
    margin: auto;
    padding: auto;
}
body{
    background:lightblue;
    text-align: center;
    background-image: url("https://wallpaperstock.net/quite-a-view-wallpapers_28569_1920x1200.jpg");
}
.jumbotron{
    background-image: url('https://c2.thejournal.ie/media/2018/01/declutter-your-friendships-752x501.jpg');
 background-size: cover;
 background-position: center;
 color: rgb(29,29,29);

}
footer{
    color: whitesmoke;

}
a{
    color:whitesmoke;
    font-size: 15pt;
}
.fa{
color: rgb(0,98,167);
}